# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Trellis DB Backups Folder
database_backup/*

# Plugins managed outside Composer
!web/app/plugins/diefinnhutte-core
!web/app/plugins/diefinnhutte-instagram-feed
!web/app/plugins/diefinnhutte-twitter-feed
!web/app/plugins/envato-market
!web/app/plugins/js_composer
!web/app/plugins/revslider
!web/app/plugins/woocommerce-gateway-paypal-express-checkout
!web/app/plugins/woo-gateway-paguelofacil-3.5-3
!web/app/plugins/woo-country-restrictions-advanced-premium